<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380472960221-lehap7c3qvvuk0al44dvr6gn4pj5slnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380472960221-lehap7c3qvvuk0al44dvr6gn4pj5slnu</string>
	<key>API_KEY</key>
	<string>AIzaSyDCjeerfdjY3Neql11KBim8of8_TLVaIu8</string>
	<key>GCM_SENDER_ID</key>
	<string>380472960221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.misobot</string>
	<key>PROJECT_ID</key>
	<string>misosirubot-bb1e6</string>
	<key>STORAGE_BUCKET</key>
	<string>misosirubot-bb1e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380472960221:ios:2a6d9349ae8ee64be8e734</string>
</dict>
</plist>